<button
  nz-button
  [disabled]="btnDisabled"
  [nzType]="btnType"
  [nz-tooltip]="btnTooltip | translate"
  (click)="onHandleClick()"
  [style]="
    btnTitle ? 'border-radius: 4px' : 'padding: 4px 8px; border-radius: 4px'
  "
  [class]="btnClass"
  [nzDanger]="nzDanger"
>
  <div class="d-flex a-center j-center">
    <span
      *ngIf="btnIconType"
      nz-icon
      [nzTheme]="btnIconTheme"
      [nzType]="btnIconType"
      [style]="customerIcon()"
    ></span>
    <span *ngIf="linkSvg" class="d-flex">
      <img [src]="linkSvg" />
    </span>
    <span *ngIf="btnTitle" [style]="customerButton()">{{
      btnTitle | translate
    }}</span>
  </div>
</button>
