@import "../../../assets/icons/themify-icons/themify-icons.css";

* {
  font-family: "Open Sans", sans-serif;
}

.clear {
  clear: both;
}

.header {
  height: 60px;
  border-bottom: none;
  align-self: center;
  align-content: center;
  z-index: 10;
  color: white;
  position: fixed;
  width: 100%;
  margin-top: 0;
}

.left {
  font-size: 25px;
  float: left;
  cursor: pointer;
}

.left>i {
  padding: 0px 20px;
}

.right {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 7px;
}

.right .icon-right {
  margin: 0 20px;
}

.scroll {
  height: 60px;
  /* border-bottom: 0.5px solid gray; */
  align-self: center;
  align-content: center;
  z-index: 10;
  color: black;
  position: fixed;
  width: 100%;
  background-color: white;
}

.menu-user {
  position: fixed;
  z-index: 50;
  width: 500px;
  height: 100%;
  font-size: 12px;
  transition: 0.2 ;
  background-color: white;
  /* background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.menu-user-open {
  display: block;
  transition: 0.2s ;
}

.menu-user-close {
  display: none;
  transition: 0.2s ;
}

.menu-parent {
  font-size: 16px;
  text-transform: uppercase;
}

.menu-parent>ul>li {
  text-transform: capitalize;
}

.close-menu {
  font-size: 20px;
  padding: 20px;
}

.close-menu :hover {
  cursor: pointer;
  color: red;
}

.icon-right {
  position: relative;
}

.shopping-count {
  position: absolute;
  top: -10px;
  left: 13px;
  font-size: 12px;
  border: 0.5px solid gray;
  height: 20px;
  width: 20px;
  color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid black;
  font-size: 13px;
  width: 100%;
  padding-left: 100px;
  height: 200px;
  padding-top: 30px;
}

#footer .right {
  float: left;
  margin-right: 80px;
}

#footer .right p {
  font-weight: bold;
  font-size: 15px;
  margin-left: 40px;
}

#footer .right ul {
  margin-top: 20px;
}

#footer .right ul li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 13px;
}

#footer .left {
  float: right;
  margin-right: 250px;
}

#footer .left .theodoi {
  font-weight: bold;
  font-size: 15px;
}

#footer .left .email {
  margin-top: 20px;
  height: 30px;
  border: 1px solid black;
  font-size: 13px;
}

#footer .left .email input {
  border: none;
  height: 30px;
  padding-left: 10px;
  width: 200px;
  font-size: 13px;
}

#footer .left .email button {
  height: 30px;
  background-color: black;
  color: white;
  width: 80px;
}

.ketnoi {
  margin-top: 20px;
  font-size: 18px;
}

.icon {
  margin-top: 5px;
}

.icon i {
  margin-right: 5px;
  font-size: 20px;
}

input {
  outline: none;
}

/* .menu-list {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
} */

 .ti-menu {
  transition: 0.2s ;
 }