<nz-modal
  [(nzVisible)]="isShowModalUploadFile"
  [nzFooter]="null"
  [nzTitle]="modalUploadFileTitle"
  [nzContent]="modalUploadFileContent"
  [nzWidth]="600"
  (nzOnCancel)="onHandleCancelModal()"
>
  <ng-template #modalUploadFileTitle>
    <div
      style="font-size: 26px; font-weight: 700; padding: 17px; color: #244a64"
    >
      <img src="./assets/icon/model-title.svg" />
      {{ isView ? "Download file" : "Upload file" }}
    </div>
  </ng-template>
  <ng-template #modalUploadFileContent>
    <nz-spin [nzTip]="'Loading...'" [nzSpinning]="spin">
      <app-upload-file
      [maxFiles]="maxFiles"
        [files]="fileFromFE"
        [filesFromBE]="filesFromBe.length > 0 ? filesFromBe : []"
        [type]="'file'"
        (outputListFile)="onHandleGetUploadFile($event)"
        (outputListFileFromBE)="onHandleDeleteFileBE($event)"
        [allowUpload]="!isView"
      ></app-upload-file>
      <div nz-row nzAlign="middle" nzJustify="end" nzGutter="24" class="mt-24">
        <nz-col *ngIf="!isView">
          <app-button
            [btnType]="'primary'"
            [btnTitle]="'button.cancel'"
            [btnClass]="'common-btn-cancel'"
            (btnClick)="onHandleCancelModal()"
          >
          </app-button>
        </nz-col>
        <nz-col *ngIf="isView">
          <app-button
            [btnType]="'primary'"
            [btnTitle]="'button.close'"
            [btnClass]="'common-btn-cancel'"
            (btnClick)="onHandleCancelModal()"
          >
          </app-button>
        </nz-col>
        <nz-col *ngIf="!isView">
          <app-button
            [btnType]="'primary'"
            [btnTitle]="'button.upload'"
            (btnClick)="onHandleConfirmModal()"
          >
          </app-button>
        </nz-col>
      </div>
    </nz-spin>
  </ng-template>
</nz-modal>

<app-modal-confirm
  [isShowModal]="isShowModalConfirm"
  [titleBtnPrimary]="'button.confirm'"
  [titleModal]="'message.noti'"
  [headerContent]="'message.confirmCancel'"
  [contentModal]="'message.contentCancel'"
  (isCancelDelete)="onHandleCancelModalConfirm($event)"
  (isConfirmDelete)="onHandleConfirm($event)"
></app-modal-confirm>
