<nz-spin [nzSpinning]="spin">
    <div class="table mt-12">
        
          <div nz-row nzAlign="middle" nzJustify="space-between">
            <nz-col>
              <p class="d-flex p-title">
                {{ title | translate }}
                <span class="ml-8 p-total">{{ total | number }}</span>
              </p>
            </nz-col>
            <nz-col>
              <nz-row nzGutter="8" nzAlign="middle">
                <nz-col>
                  <app-button
                    [btnType]="'primary'"
                    [btnIconType]="'plus-circle'"
                    [btnTitle]="'button.add_new'"
                    (btnClick)="handleCreate()"
                  >
                  </app-button>
                </nz-col>
                <nz-col>
                  <app-visible-column
                    [allChecked]="true"
                    [indeterminate]="false"
                    [listItem]="columns"
                    (itemListChange)="onHandleChangeColumn($event)"
                  />
                </nz-col>
              </nz-row>
            </nz-col>
          </div>
    
          
    
          <div class="table mt-12">
            <nz-table
              #dataItems
              class="w-100"
              nzSize="small"
              [nzScroll]="{ x: 'auto' }"
              [nzBordered]="true"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              [nzData]="lstData"
              [nzNoResult]="noResult"
              nzTableLayout="fixed"
              [nzNoResult]="cusNoResult"
            >
              <thead>
                <tr>
                  <th nzLeft nzWidth="50px" nzAlign="center">{{ "message.stt" | translate }}</th>
                  <ng-container *ngFor="let column of columns; let i = index">
                    <ng-container *ngIf="column.visible">
                      <th
                        nz-resizable
                        nzAlign="center"
                        [nzWidth]="column.width"
                        (nzResize)="onResize($event, i)"
                        [nzMaxWidth]="500"
                        [nzMinWidth]="50"
                      >
                        <div style="text-align: center" class="editable-cell">
                          <nz-resize-handle nzDirection="right">
                            <div class="resize-trigger"></div>
                          </nz-resize-handle>
                          <span>
                            {{ column.title | translate }}
                          </span>
                        </div>
                        <app-sort-icon
                          [column]="column"
                          (sortChange)="handleSort(column, $event)"
                        />
                      </th>
                    </ng-container>
                  </ng-container>
                  <th nzRight nzWidth="100px" nzAlign="center">Thao tác</th>
                </tr>
              </thead>
              <tbody [ngClass]="lstData.length > 0 ? 'striped' : ''">
                <!-- <tr>
                  <td nzLeft></td>
                  <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.visible && column.key !== 'status'">
                      <td>
                        <nz-input-group
                          nzSearch
                          [nzPrefix]="prefix"
                          [nzSuffix]="suffix"
                          style="border: none"
                        >
                          <input
                            type="text"
                            nz-input
                            placeholder="{{ 'search' | translate }}"
                            [(ngModel)]="filter[column.key]"
                            (keyup)="onHandleFilter($event, column.key)"
                          />
                        </nz-input-group>
                        <ng-template #prefix>
                          <span
                            nz-icon
                            class="search-click"
                            nzType="search"
                            (click)="onHandleFilter($event, column.key)"
                          ></span>
                        </ng-template>
                        <ng-template #suffix>
                          <span
                            *ngIf="filter[column.key]"
                            nz-icon
                            nzTheme="fill"
                            class="ant-input-clear-icon"
                            nzType="close-circle"
                            (click)="onHandleClearFilter(column.key)"
                          ></span>
                        </ng-template>
                        
                      </td>
                    </ng-container>
                    
                  </ng-container>
                  <td nzRight></td>
                </tr> -->
                <ng-container *ngFor="let row of dataItems.data, index as i">
                  <tr>
                    <td nzLeft nzAlign="center">{{ i+1 }}</td>
                    <ng-container *ngFor="let column of columns">
                      <ng-container
                        *ngIf="column.visible && column.key !== 'updatedAt' && column.key !== 'status' && column.key !== 'visible' && column.key !== 'imageBanner'"
                      >
                        <td>
                          <span
                            nzEllipsis
                            nz-typography
                            [nz-tooltip]="row[column.key]"
                            [ngStyle]="{ width: column.width }"
                          >
                            {{ row[column.key] }}
                          </span>
                        </td>
                      </ng-container>
                      <ng-container
                        *ngIf="column.visible && column.key == 'imageBanner'"
                      >
                        <td nzAlign="center">
                          <img
                          nz-image
                          width="100px"
                          height="100px"
                          [nzSrc]="
                            row[column.key]
                              ? urlPreview + '/' + row[column.key]
                              : './../../../../assets/img/avatar-default.svg'
                          "
                          alt="Ảnh đại diện"
                          class="hover-cursor"
                        />
                        </td>
                      </ng-container>
                      <ng-container
                        *ngIf="column.visible && column.key == 'visible'"
                      >
                        <td nzAlign="center">
                          <nz-switch [(ngModel)]="row.visible" (ngModelChange)="handleChangeVisible(row.id)"></nz-switch>
                        </td>
                      </ng-container>
                      <ng-container
                      *ngIf="column.visible && column.key == 'updatedAt'"
                    >
                      <td nzAlign="left">
                        {{row[column.key] * 1000 | date:'dd/MM/yyyy'}}
                      </td>
                    </ng-container>
                      <ng-container
                        *ngIf="column.visible && column.key == 'status'"
                      >
                        <td nzAlign="center">
                          <span [ngSwitch]="row[column.key]">
                            <p *ngSwitchCase="1" class="p-status status-gray">
                              {{ "message.draft" | translate }}
                            </p>
                            <p *ngSwitchCase="2" class="p-status status-yellow">
                              {{ "message.pending" | translate }}
                            </p>
                            <p *ngSwitchCase="3" class="p-status status-green">
                              {{ "message.approved" | translate }}
                            </p>
                            <p *ngSwitchCase="-3" class="p-status status-red">
                              {{ "message.rejected" | translate }}
                            </p>
                            <p *ngSwitchCase="-2" class="p-status status-volcano">
                              {{ "message.canceled" | translate }}
                            </p>
                          </span>
                        </td>
                      </ng-container>
                    </ng-container>
                    <td nzRight>
                      <div class="d-flex j-center a-center">
                        <!-- <div>
                          <app-button btnType="text" btnIconType="edit" btnIconTheme="outline" (btnClick)="handleUpdate(row)">
                          </app-button>
                        </div> -->
                        <!-- <div>
                          <app-button btnType="text" btnIconType="eye" btnIconTheme="outline" (btnClick)="handleRead(row)">
                          </app-button>
                        </div> -->
                        <div>
                          <app-button btnType="text" btnIconType="delete" btnIconTheme="outline" (btnClick)="handleDelete(row)">
                          </app-button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
            <ng-template #noResult>
              <app-no-data></app-no-data>
            </ng-template>
          </div>

          <div class="pagination mt-12">
            <app-pagination
              [page]="page"
              [perPage]="perPage"
              [total]="total"
              (emitPage)="onHandlePagination($event)"
            />
          </div>
    
        <!-- <div class="mt-12 app-modal-content">
    
          <app-modal-content
            [show]="visibleModal"
            [title]="'Tiêu đề'"
            [header]="'Tiêu đề con'"
            [content]="'Nội dung cảnh báo'"
            [titleBtnConfirm]="'button.confirm'"
            [titleBtnCancel]="'button.cancel'"
            (cancelChange)="visibleModal = $event"
            (confirmChange)="handleConfirm()"
          />
        </div> -->

        <ng-template #cusNoResult>
            <app-no-data></app-no-data>
          </ng-template>
    
        
      </div>
</nz-spin>

<nz-modal [(nzVisible)]="visibleModal" [nzFooter]="null" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzWidth]="'500px'" [nzBodyStyle]="{
    padding: '12px 24px'
  }" (nzOnCancel)="onHandleCancel()">
  <ng-template #modalTitle>
    <div style="font-size: 20px; font-weight: 700; color: #244a64">
      <img style="height: 20px; margin-right: 12px" src="./../../../../assets/icons/information.svg" />
      {{ titleModal | translate }}
    </div>
  </ng-template>
  <ng-template #modalContent>
    <div>
      <div nz-row style="width: 100%">
        <div nz-col nzSpan="24">
          <span style="font-weight: bold; font-size: 16px">Nhập banner</span>
        </div>
        <app-upload-file (outputListFile)="uploadBanner($event)" [maxFiles]="1"></app-upload-file>
      </div>
      <!-- <div nz-row class="mt-12" *ngIf="action != 'create'">
        <div nz-col nzSpan="24">
          <span style="font-weight: bold; font-size: 16px">Ngày cập nhật</span>
        </div>
        <div nz-col nzSpan="24">
          <nz-date-picker [nzDisabled]="true" [(ngModel)]="dataInformation.updatedAt" class="w-100"
            nzFormat="dd/MM/yyyy"></nz-date-picker>
        </div>
      </div> -->
      <div nz-row class="mt-12" nzJustify="end">
        <div>
          <app-button btnClass="btn-cancel" btnType="primary"
            [btnTitle]="action == 'read' ? 'button.close' : 'button.cancel'" (btnClick)="onHandleCancel()">
          </app-button>
        </div>
        <div *ngIf="action !== 'read'" class="ml-12">
          <app-button btnType="primary" btnTitle="button.confirm" (btnClick)="handleConfirm()">
          </app-button>
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>

<app-modal-content [show]="visibleModalDelete" title="Xóa banner" header="
    Bạn có xác nhận xóa banner
  " content="
    Nếu bạn xác nhận, hệ thống sẽ xóa banner khỏi danh sách và cập nhật lại danh sách
  " titleBtnConfirm="button.confirm" titleBtnCancel="button.cancel" (cancelChange)="visibleModalDelete = $event"
  (confirmChange)="handleConfirmDelete()" />

