<div class="container">
  <div class="header">
    <div class="header-first">
      <div class="header-arrow">
        <span nzType="arrow-left" nzTheme="outline"></span>
      </div>
      <div class="header-logo"></div>
    </div>
    <div class="header-last">
      <div class="header-last__card">
        <div class="card-icon">
          <div class="final-icon__wrap">
            <p class="final-icon">1</p>
          </div>
        </div>
        <div class="card-content__wrap">
          <p class="card-content">Giỏ hàng</p>
        </div>
      </div>
      <div class="header-last__pay">
        <div class="pay-icon__wrap">
          <span class="pay-icon" nz-icon nzType="check" nzTheme="outline"></span>
        </div>
        <div class="pay-content__wrap">
          <p class="pay-content">Đặt hàng</p>
        </div>
      </div>
      <div class="header-last__final">
        <div class="final-icon__wrap">
          <p class="final-icon">3</p>
        </div>
        <div class="final-content__wrap">
          <p class="final-content">Hoàn thành đơn hàng</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="form-content__wrap">
      <div class="form-title__wrap">
        <p class="form-title">THÔNG TIN VẬN CHUYỂN</p>
      </div>
      <div class="form-content">
        <nz-row nzGutter="48" nzAlign="top">
          <ng-container *ngFor="let column of columns">
            <nz-col nzXs="48" nzSm="48" nzMd="48" nzLg="24" nzXl="24" nzXXl="24" class="mb-20"
              *ngIf="column.keyName !== 'note'">
              <p class="m-0 p-label">
                {{ column.keyTitle }}
                <span *ngIf="column.isRequired" class="span-error">*</span>
              </p>

              <div class="ant-input-affix-wrapper-textarea-with-clear-btn">
                <textarea nz-input [(ngModel)]="dataInformation[column.keyName]" rows="1"></textarea>
              </div>
            </nz-col>

            <nz-col nzXs="48" nzSm="48" nzMd="48" nzLg="24" nzXl="24" nzXXl="24" class="mb-20"
              *ngIf="column.keyName === 'note'">
              <p class="m-0 p-label">
                {{ column.keyTitle }}
                <span *ngIf="column.isRequired" class="span-error">*</span>
              </p>

              <div class="ant-input-affix-wrapper-textarea-with-clear-btn">
                <textarea nz-input [(ngModel)]="dataInformation[column.keyName]" rows="3"></textarea>
              </div>
            </nz-col>
          </ng-container>
        </nz-row>
      </div>

      <div style="margin-top: 20px;">
        <div class="form-title__wrap">
          <p class="form-title">HÌNH THỨC THANH TOÁN</p>
        </div>
        <nz-radio-group [(ngModel)]="paymentMethod">
          <label class="raido-value" nz-radio nzValue="1">Thanh toán khi nhận được hàng <br>
            <img style="height: 100px; width: 150px; object-fit: contain;" src="../../../../assets/img/cod.png" alt="">
          </label><br>
          <label class="raido-value" nz-radio nzValue="2">Thanh toán qua PayPal <br>
            <img style="height: 100px; width: 150px; object-fit: contain;" src="../../../../assets/img/paypal.png" alt="">
          </label>
        </nz-radio-group>
      </div>

    </div>
    <div class="form-information__line">
      <div class="form-information__title">
        <p class="title-information">THÔNG TIN ĐƠN HÀNG</p>
      </div>
      <div class="list-product">
        <div class="form-information__product" *ngFor="let item of listProduct">
          <div class="form-information__product-image">
            <img [src]="urlPreview + '/' + item.avatar" alt="" class="image-product" />
          </div>
          <div class="form-information__product-info">
            <p class="form-information__product-name">
              {{item.productName}}
            </p>
            <p class="form-information__product-price">{{item.price | number}}đ</p>
            <p class="form-information__product-des">{{item.color}}</p>
            <div class="form-information__product-num">
              <p class="form-information__product-size">
                Size: <span class="form-information__product-size-num">{{item.size}}</span>
              </p>
              <p class="form-information__product-quantity">
                Số lượng:
                <span class="form-information__product-size-num">{{item.quantity}}</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="form-infomation__product-voucher">
        <input type="text" nz-input appNumberInput [(ngModel)]="dataInformation['voucher']"
          placeholder="Nhập mã giảm giá" />
        <button nz-button (click)="addVoucher()" nzType="text">Áp dụng</button>
      </div>

      <div class="form-infomation__product-price">
        <div class="form-infomation__product-expected">
          <p class="form-infomation__expected-title">Tạm tính</p>
          <p class="form-infomation__expected-price">{{tolal | number}}đ</p>
        </div>
        <div class="form-infomation__product-expected">
          <p class="form-infomation__expected-title">Phí vận chuyển</p>
          <p class="form-infomation__expected-price">0đ</p>
        </div>
        <div class="form-infomation__product-expected">
          <p class="form-infomation__expected-title">Thành tiền</p>
          <p class="form-infomation__expected-price">{{tolal | number}}đ</p>
        </div>
      </div>
      <div class="form-infomation__pay">
        <button nz-button (click)="payProduct()" nzType="text">
          Thanh toán ngay
        </button>
      </div>
    </div>
  </div>

</div>