<div class="container">
    <div class="header">
      <div class="header-first">
        <div class="header-arrow">
          <span  nzType="arrow-left" nzTheme="outline"></span>
        </div>
        <div class="header-logo"></div>
      </div>
      <div class="header-last">
        <div class="header-last__card">
          <div class="card-icon">
            <div class="final-icon__wrap">
              <p class="final-icon">1</p>
            </div>
          </div>
          <div class="card-content__wrap">
            <p class="card-content">Giỏ hàng</p>
          </div>
        </div>
        <div class="header-last__final">
          <div class="final-icon__wrap">
            <p class="final-icon">3</p>
          </div>
          <div class="final-content__wrap">
            <p class="final-content">Đặt hàng</p>
          </div>
        </div>
        <div class="header-last__pay">
            <div class="pay-icon__wrap">
              <span class="pay-icon" nz-icon nzType="check" nzTheme="outline"></span>
            </div>
            <div class="pay-content__wrap">
              <p class="pay-content">Hoàn thành đơn hàng</p>
            </div>
          </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="content-success">
      <div>
        <p class="pay-icon-success" nz-icon nzType="check" nzTheme="outline"></p>
      </div>
      <div class="pay-content-success">
        <p class="pay-content-success">Hoàn thành đặt hàng hàng</p>
      </div>
      <div>
        <button (click)="clickHome()">Tiếp tục mua sắm</button>
      </div>
    </div>
  </div>
  