<nz-row nzAlign="middle" class="mb-24">

</nz-row>
<nz-card>
    <p class="title-seaport">
        {{title}}
    </p>
    <nz-row nzGutter="48" nzAlign="top">
        <ng-container *ngFor="let column of columns">
            <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="mb-20">
                <p class="m-0 p-label">
                    {{ column.title }}
                    <span *ngIf="column.isRequired" class="span-error">*</span>
                </p>
                <ng-container
                    *ngIf="(column.key === 'productColor' || column.key === 'productSize' || column.key === 'avatar' || column.key === 'category') ; else textAreaInput">
                </ng-container>
                <ng-container *ngIf="(column.key === 'productColor')">
                    <nz-select [nzMaxTagCount]="10" nzMode="multiple" nzPlaceHolder="Chọn màu sắc"
                        [(ngModel)]="listOfSelectedValueColor">
                        <nz-option *ngFor="let item of listColor" [nzLabel]="item.color"
                            [nzValue]="item.color"></nz-option>
                    </nz-select>
                </ng-container>
                <ng-container *ngIf="(column.key === 'productSize')">
                    <nz-select [nzMaxTagCount]="10" nzMode="multiple" nzPlaceHolder="Chọn size"
                        [(ngModel)]="listOfSelectedValueSize">
                        <nz-option *ngFor="let item of listSize" [nzLabel]="item.sizeName"
                            [nzValue]="item.sizeName"></nz-option>
                    </nz-select>
                </ng-container>
                <ng-container *ngIf="column.key == 'category'">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn danh mục sản phẩm" [(ngModel)]="listOfSelectCategory">
                        <nz-option *ngFor="let item of listCategory" [nzLabel]="item.categoryName" [nzValue]="item"></nz-option>
                      </nz-select>
                </ng-container>
                <ng-container *ngIf="column.key === 'avatar'">
                    <app-upload-file
                    [maxFiles]="1" (outputListFile)="uploadAvatar($event)" (outputListFileFromBE)="deleteFile($event)"
                    ></app-upload-file>
                </ng-container>
                <ng-template #textAreaInput>
                    <nz-input-group [nzSuffix]="suffixSeaport" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                        <textarea nz-input [(ngModel)]="dataInformation[column.key]" rows="1"></textarea>
                    </nz-input-group>
                    <ng-template #suffixSeaport>
                        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                            *ngIf="dataInformation[column.key]" (click)="dataInformation[column.key] = ''"></span>
                    </ng-template>
                </ng-template>
                <p class="m-0 span-error" *ngIf="
            column.isRequired && !dataInformation[column.keyName] ? true : false
          ">
                    {{ "message.required" | translate }}
                </p>
            </nz-col>
        </ng-container>
        <ng-container>
            <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="mb-20">
                <img
        nz-image
        width="100px"
        height="100px"
        [nzSrc]="
            avatarUrl.length > 0
            ? urlPreview + '/' + avatarUrl[0].savedFileName
            : './../../../../assets/img/avatar-default.svg'
                "
            alt="Ảnh đại diện"
            class="hover-cursor"
            />
            </nz-col>
            <nz-col>
                <p class="m-0 p-label">
                    Hình ảnh mô tả
                    <!-- <span class="span-error">*</span> -->
                </p>
                <div class="clearfix">
                  <!-- <nz-upload
                   [nzMultiple]="true"
                    class="upload-list-inline"
                    nzAction="http://localhost:9090/api/assets/upload-file-one"
                    nzListType="picture"
                    [(nzFileList)]="descriptionUrl"
                  >
                  <button nz-button>
                    <span>
                      <span nz-icon nzType="upload"></span>
                      Upload
                    </span>
                  </button> -->
                    <app-upload-file
               (outputListFile)="uploadDescriptionUrl($event)" (outputListFileFromBE)="deleteFile($event)"
              ></app-upload-file>
                  <!-- </nz-upload> -->
                </div>
                <!-- <p class="m-0 span-error" *ngIf="listFileImage.length == 0 ? true : false">
              {{ "message.required" | translate }}
            </p> -->
            </nz-col>
        </ng-container>
    </nz-row>
    <!-- File Upload Section for PAD -->
    

    <!-- Action Buttons -->
    <nz-row nzAlign="top" nzGutter="24" nzJustify="end">
        <nz-col>
            <app-button btnClass="btn-cancel" [btnType]="'primary'" [btnTitle]="'Quay lại'"
                (btnClick)="onHandleNavigate()">
            </app-button>
        </nz-col>
        <nz-col>
            <app-button [btnType]="'primary'" [btnTitle]="'Thêm mới'" (btnClick)="onHandleModalSave()">
            </app-button>
        </nz-col>
    </nz-row>
</nz-card>
<app-modal-confirm 
    [isShowModal]="isVisibaleModalNavigate" [titleBtnPrimary]="'Xác nhận'" [titleModal]="'Thông báo'"
    [headerContent]="'Bạn có chắc chắn muốn quay lại danh sách sản phẩm'"
    [contentModal]="'Sau khi bạn xác nhận, thông tin sản phẩm chưa được lưu'"
    (isCancelDelete)="onHandleCancelModalNavigate($event)"
    (isConfirmDelete)="onHandleConfirmNavigate($event)">
</app-modal-confirm>

    <app-modal-confirm [isShowModal]="isVisibaleModalSave" [titleBtnPrimary]="'Xác nhận'" [titleModal]="'Thông báo'"
    [headerContent]="'Bạn có chắc chắn muốn lưu sản phẩm'"
    [contentModal]="'Sau khi bạn xác nhận, thông tin sản phẩm sẽ được lưu'"
    (isCancelDelete)="onHandleCancelModalSave($event)"
    (isConfirmDelete)="onHandleConfirmSave($event)"></app-modal-confirm>