<nz-layout class="app-layout">
  <nz-header>
    <div
      class="sidebar-logo"
      [ngClass]="{
        'sidebar-collapse': isCollapsed,
        'sidebar-uncollapse': !isCollapsed
      }"
      style="position: fixed"
    >
      <a routerLink="./">
        <img *ngIf="!isCollapsed" src="./assets/img/logooaura.png" alt="logo" />
        <img
          style="width: 32px"
          *ngIf="isCollapsed"
          src="./assets/img/logooaura.png"
          alt="logo"
        />
      </a>
    </div>
    <div
      class="app-header d-flex j-between a-center"
      [ngClass]="{
        'header-collapse': isCollapsed,
        'header-uncollapse': !isCollapsed
      }"
    >
      <div class="d-flex j-between a-center" style="height: 50px">
        <span
          class="header-trigger"
          (click)="isCollapsed = !isCollapsed"
          style="display: flex"
        >
          <span
            class="trigger d-flex a-center"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
        </span>
        <span
          style="
            font-size: 24px;
            line-height: 50px;
            font-weight: 600;
            color: #244a64;
            padding-bottom: 4px;
          "
        >
          {{ !isCollapsed ? "AURA STORE" : "AURA" }}
        </span>
      </div>
      <div style="padding: 0 24px 0 0" class="d-flex j-between a-center">
        <div
          style="font-size: 24px; height: 50px"
          class="d-flex j-between a-center mr-8"
        >
          <nz-avatar style="cursor: pointer" nzIcon="user"> </nz-avatar>
          <div
            style="
              font-size: 14px;
              height: 50px;
              line-height: 50px;
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
            class="ml-12"
          >
            <span style="line-height: 14px; font-size: 10px"
              >{{ "hi" | translate }}
            </span>
            <span style="line-height: 14px">{{ name }}</span>
          </div>
        </div>
        <span
          class="d-flex c-pointer ml-8 mr-8"
          [(nzPopoverVisible)]="isvisibleChooseLanguage"
          nz-popover
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentChooseLanguageTemplate"
        >
          <img src="{{ urlImg }}" width="30" />
        </span>
        <ng-template #contentChooseLanguageTemplate>
          <div>
            <ng-container *ngFor="let op of options">
              <p
                style="cursor: pointer"
                class="language-change"
                (click)="changeLanguage(op)"
              >
                <img src="{{ op.srcImg }}" width="40" /> &nbsp;
                {{ op.name | translate }}
              </p>
            </ng-container>
          </div>
        </ng-template>
        <nz-badge
          nzSize="small"
          class="mr-8 ml-8"
          [nzCount]="countNotification"
          [nzOverflowCount]="99"
        >
          <span
            nz-icon
            nzType="bell"
            nzTheme="outline"
            class="i-notification"
            [style]="
              countNotification > 9 ? 'margin-right: 6px' : 'margin-right: 0px'
            "
            nz-popover
            [nzPopoverTitle]="notificationTitle"
            [(nzPopoverVisible)]="showNotification"
            (nzPopoverVisibleChange)="hideNotification($event)"
            nzPopoverTrigger="click"
            [nzPopoverPlacement]="'bottomRight'"
            [nzPopoverContent]="notificationContent"
          >
          </span>
        </nz-badge>
        <ng-template #notificationContent>
          <div style="width: 400px; height: 50vh; overflow: scroll;">
            <ng-container *ngFor="let item of listNotification">
              
              <a [href]="item.routerLink">
                <div
                  style="
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    padding: 12px;
                    margin-bottom: 12px;
                  "
                  class="hover-notification"
                  
                >
                  <nz-row
                    nzAlign="top"
                    nzJustify="space-between"
                    [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 24 }"
                  >
                    <nz-col nzSpan="2">
                      <nz-row nzJustify="center">
                        <nz-col>
                          <span
                            *ngIf="!item.read"
                            style="
                              width: 12px;
                              height: 12px;
                              background-color: #00ffff;
                              border-radius: 50%;
                              display: block;
                              margin-top: 6px;
                            "
                          >
                          </span>
                        </nz-col>
                      </nz-row>
                    </nz-col>
                    <nz-col nzSm="12" nzLg="16" nzXl="18">
                      <nz-row nzGutter="24">
                        <nz-col nzSpan="24">
                          <b>
                            <p
                              style="margin: 0"
                              nz-typography
                              nzEllipsis
                              [nzEllipsisRows]="3"
                              [nzContent]="item.title"
                            ></p>
                          </b>
                        </nz-col>
                        <nz-col nzSpan="24">
                          <p
                            style="margin: 0"
                            nz-typography
                            nzEllipsis
                            [nzEllipsisRows]="3"
                            [nzContent]="item.content"
                          ></p>
                        </nz-col>
                      </nz-row>
                    </nz-col>
                    <nz-col nzSm="10" nzLg="6" nzXl="4">
                      <nz-row>
                        <nz-col nzSpan="24">
                          <nz-row nzJustify="end">
                            {{ item.createdAt * 1000 | date : "dd/MM/yyyy" }}
                          </nz-row>
                        </nz-col>
                        <nz-col nzSpan="24">
                          <nz-row nzJustify="end">
                            {{ item.createdAt | date : "HH:mm:ss" }}
                          </nz-row>
                        </nz-col>
                      </nz-row>
                    </nz-col>
                  </nz-row>
                </div>
              </a>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #notificationTitle>
          Thông báo
        </ng-template>
        <span
          class="ml-8 mr-8"
          (click)="fullScreen()"
          nz-icon
          style="font-size: 18px"
          [nzType]="isFullScreen ? 'fullscreen-exit' : 'fullscreen'"
          nzTheme="outline"
        ></span>
        <span
          class="ml-8 mr-8"
          (click)="openLogout()"
          nz-icon
          style="font-size: 18px"
          [nzType]="'logout'"
          nzTheme="outline"
        ></span>
      </div>
    </div>
  </nz-header>
  <nz-sider
    nzWidth="256px"
    class="menu-sidebar"
    nzCollapsible
    nzBreakpoint="xl"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzTheme]="'light'"
  >
    <app-menu [isCollapsed]="isCollapsed"></app-menu>
  </nz-sider>
  <nz-content>
    <div
      class="inner-content"
      [ngClass]="{
        'content-collapse': isCollapsed,
        'content-uncollapse': !isCollapsed
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <footer
    [ngClass]="{
      'footer-collapse': isCollapsed,
      'footer-uncollapse': !isCollapsed
    }"
  >
    <div class="container-footer">
      <div class="footer-content">
        <p>
          &copy; Copyright MaiNguyen 2024. All rights reserved. Designed by
          <a
            style="text-decoration: none; color: gray; font-weight: 600"
            href="https://facevn/"
            target="_blank"
            >MaiNguyen</a
          >
        </p>
      </div>
    </div>
  </footer>
</nz-layout>

<app-modal-content [show]="visiableLogout" title="Đăng xuất" header="
    Bạn có xác nhận Đăng xuất không?
  " content="
  Nếu bạn ấn xác nhận, bạn sẽ đăng xuất khỏi hệ thống, mọi thông tin sẽ không được lưu lại.
  " titleBtnConfirm="button.confirm" titleBtnCancel="button.cancel" (cancelChange)="visiableLogout = $event"
  (confirmChange)="confirmLogout()" />
