.title-seaport {
    color: #42526d;
    font-size: 20px;
    font-weight: 700;
  }
  .form-content__left,
  .form-content__right {
    flex: 1;
  }
  
  .form-content__left {
    margin-right: 30px;
  }
  
  .ant-col-xl-12 {
    max-width: 100%;
  }
  
  .ant-col-16 {
    max-width: 100%;
  }
  
  .ant-form-item-control {
    flex-direction: row;
  }
  
  .ant-form-item {
    margin-bottom: 0;
  }

  .span-error {
    color: red;
  }
  
  /* .seaport-coordinate::after {
    content: "°";
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 20px;
  }
  
  .seaport-minutes::after {
    content: "’";
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 20px;
  }
  
  .seaport-seconds::after {
    content: "″";
    position: absolute;
    top: 0;
    right: 15%;
    font-size: 20px;
  } */
  
.p-label {
    margin-top: 20px;
}

  @media (min-width: 576px) {
    nz-row {
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    nz-row {
      display: block;
    }
  }
  
  @media (min-width: 1200px) {
    nz-row {
      display: flex;
    }
  }
  
  @media (min-width: 992px) {
    nz-row {
      display: flex;
    }
  }
  
  nz-select {
    width: 100%;
  }