
.p-title {
    font-size: 22px;
}

.tong-quan {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.tong-quan-tien {
    border: 1px solid gray;
    padding: 10px;
    
    
}

.tong-quan-tien p {
    font-size: 15px;
    color: #42526d;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

nz-date-picker {
    padding: 50px 70px;
    font-size: 20px;
    outline: gray;
    border: 1px solid gray;
    
}

.card-title {
    font-size: 17px;
    color: #42526d;
    font-weight: bold;
    margin-bottom: 10px;
}