<div class="breadcrumb-container" *ngIf="lengthListBreadCrumb > 0">
  <ol class="breadcrumbs">
    <li
      *ngFor="let item of listBreadCrumb; let i = index"
      class="breadcrumb-item"
    >
      <div
        class="breadcrumb-item__names"
        *ngIf="item.name != ''"
        (click)="handleRouter(item)"
        routerLinkActive="router-link-active"
        [class]="item.route ? 'breadcrumb-link' : ''"
        [style.color]="i == lengthListBreadCrumb - 1 ? '#244A64' : '#000000'"
      >
        {{ item.name | translate }}
      </div>
      <i
        *ngIf="i != lengthListBreadCrumb - 1"
        nz-icon
        nzType="right"
        nzTheme="outline"
        class="breadcrumb-icon"
      ></i>
    </li>
  </ol>
</div>

<app-modal-content
  [show]="isVisibaleModalNavigate"
  [titleBtnConfirm]="'button.confirm'"
  [titleBtnCancel]="'button.cancel'"
  [title]="'message.titleBreadscrumb'"
  [header]="'message.headerBreadscrumb'"
  [content]="'message.contentBreadscrumb'"
  (cancelChange)="onHandleCancelModalNavigate($event)"
  (confirmChange)="onHandleConfirmNavigate($event)"
></app-modal-content>
