.fixed {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99999;
}

.close {
  font-size: 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #244a64;
  font-weight: bold;
  cursor: pointer;
  background: white;
  border-radius: 2px;
}
