<nz-row nzAlign="middle" class="mb-24">

</nz-row>
<nz-card>
    <p class="title-seaport">
        {{title}}
    </p>
    <nz-row nzGutter="48" nzAlign="top">
        <ng-container *ngFor="let column of columns">
            <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="mb-20">
                <p class="m-0 p-label">
                    {{ column.title }}
                    <span *ngIf="column.isRequired" class="span-error">*</span>
                </p>
                <ng-container
                    *ngIf="(column.key === 'visible' || column.key === 'avatar') ; else textAreaInput">
                </ng-container>
                <ng-container *ngIf="(column.key === 'visible')">
                    <nz-select  nzPlaceHolder="Chọn trạng thái"
                        [(ngModel)]="this.dataInformation.visible">
                        <nz-option [nzValue]="false" nzLabel="Ẩn"></nz-option>
                        <nz-option [nzValue]="true" nzLabel="Hiện"></nz-option>
                    </nz-select>
                </ng-container>
                <ng-container *ngIf="column.key === 'avatar'">
                    <app-upload-file [maxFiles]="1" (outputListFile)="uploadAvatar($event)"
                        (outputListFileFromBE)="deleteFile($event)"></app-upload-file>
                </ng-container>
                <ng-template #textAreaInput>
                    <nz-input-group [nzSuffix]="suffixSeaport" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                        <textarea nz-input [(ngModel)]="dataInformation[column.key]" rows="1"></textarea>
                    </nz-input-group>
                    <ng-template #suffixSeaport>
                        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                            *ngIf="dataInformation[column.key]" (click)="dataInformation[column.key] = ''"></span>
                    </ng-template>
                </ng-template>
                <p class="m-0 span-error" *ngIf="
            column.isRequired && !dataInformation[column.key] ? true : false
          ">
                    {{ "message.required" | translate }}
                </p>
            </nz-col>
        </ng-container>
        <ng-container>
            <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12" nzXXl="12" class="mb-20">
                <img nz-image width="100px" height="100px" [nzSrc]="
            avatarUrl.length > 0
            ? urlPreview + '/' + avatarUrl[0].savedFileName
            : './../../../../assets/img/avatar-default.svg'
                " alt="Ảnh đại diện" class="hover-cursor" />
            </nz-col>
        </ng-container>
        
    </nz-row>
    <nz-row>
        <ng-container>
            <p class="m-0 p-label">
                Nội dung
                <span class="span-error">*</span>
            </p>
            <ckeditor style="width: 100%; margin-bottom: 20px;" [editor]="editor" [(ngModel)]="dataInformation.content"></ckeditor>
        </ng-container>
    </nz-row>
    <!-- File Upload Section for PAD -->


    <!-- Action Buttons -->
    <nz-row nzAlign="top" nzGutter="24" nzJustify="end">
        <nz-col>
            <app-button btnClass="btn-cancel" [btnType]="'primary'" [btnTitle]="'Quay lại'"
                (btnClick)="onHandleNavigate()">
            </app-button>
        </nz-col>
        <nz-col>
            <app-button [btnType]="'primary'" [btnTitle]="'Thêm mới'" (btnClick)="onHandleModalSave()">
            </app-button>
        </nz-col>
    </nz-row>
</nz-card>
<app-modal-confirm [isShowModal]="isVisibaleModalNavigate" [titleBtnPrimary]="'Xác nhận'" [titleModal]="'Thông báo'"
    [headerContent]="'Bạn có chắc chắn muốn quay lại danh sách tin tức'"
    [contentModal]="'Sau khi bạn xác nhận, thông tin tin tức chưa được lưu'"
    (isCancelDelete)="onHandleCancelModalNavigate($event)" (isConfirmDelete)="onHandleConfirmNavigate($event)">
</app-modal-confirm>

<app-modal-confirm [isShowModal]="isVisibaleModalSave" [titleBtnPrimary]="'Xác nhận'" [titleModal]="'Thông báo'"
    [headerContent]="'Bạn có chắc chắn muốn lưu tin tức'"
    [contentModal]="'Sau khi bạn xác nhận, thông tin tin tức sẽ được lưu'"
    (isCancelDelete)="onHandleCancelModalSave($event)"
    (isConfirmDelete)="onHandleConfirmSave($event)"></app-modal-confirm>