.title-seaport {
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: #42526D;
    font-weight: bold;
}

.p-label {
    font-size: 15px;
    margin-bottom: 10px;
}

.total {
    margin-top: 10px;
}