<nz-modal
  [(nzVisible)]="isvisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1000"
>
  <ng-template #modalTitle>
    <div style="font-size: 20px; font-weight: 700; color: #244a64">
      <img
        style="height: 20px; margin-right: 12px"
        src="./../../../../assets/icons/information.svg"
      />
      {{ 'Thêm mới cấu hình size' | translate }}
    </div>
  </ng-template>

  <ng-template #modalContent>
    <div nz-row [nzGutter]="[100, 16]">
      <div nz-col nzSpan="24">
        <label
          class="title-card mb-8"
          style="font-size: 18px; margin-bottom: 10px"
          >{{ "Size" | translate }}<span style="color: red">*</span></label
        >
        <input
          nz-input
          [(ngModel)]="sizeName"
          (ngModelChange)="checkAction = true"
          (input)="checkValid()"
          type="text"
          placeholder="{{ 'Nhập size' | translate }}"
        />
        <span style="color: red" *ngIf="checkMethod">{{ checkMethod }}</span>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div nz-row nzAlign="middle" nzJustify="end" nzGutter="24" class="mt-24">
      <nz-col>
        <app-button
          [btnType]="'default'"
          [btnTitle]="'button.cancel'"
          [btnClass]="'common-btn-cancel'"
          (btnClick)="handleCancel()"
        >
        </app-button>
      </nz-col>
      <nz-col>
        <app-button
          [btnType]="'primary'"
          [btnTitle]="'button.add_new'"
          (btnClick)="submit()"
        >
        </app-button>
      </nz-col>
    </div>
  </ng-template>
</nz-modal>
