<!-- <nz-spin [nzSpinning]="spin"> -->
    <div class="table mt-12">
        <div nz-row nzAlign="middle" nzJustify="space-between">
          <nz-col>
            <p class="d-flex p-title">
              {{ title | translate }}
          </p>
          </nz-col>
          
        </div>
  
  </div>   

  <nz-card>
    
    <nz-card >
      <div class="tong-quan">
        <div>
          <nz-date-picker [(ngModel)]="dateMoth" (ngModelChange)="changeDate()" [nzSize]="'large'" nzMode="month" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </div>
        <div class="tong-quan-tien">
          <p>Tổng chi phí trong tháng</p>
          <p>{{totalPriceMoth | number}} VNĐ</p>
        </div>
        <div class="tong-quan-tien">
          <p>Tổng chi phí đã bỏ ra</p>
          <p>{{totalPrice | number}} VNĐ</p>
        </div>
      </div>
    </nz-card>
    <nz-card style="margin-top: 20px;">
      <div class="card-title">Thống kê chi phí theo từng tháng</div>
      <div id="container-revenue"></div>
    </nz-card>
    <nz-card style="margin-top: 20px;">
      <div class="card-title">Thống kê chi phí theo tháng</div>
      <div id="container-man-month"></div>
    </nz-card>
  </nz-card>
  
  
  
  
  

  
        
<!-- </nz-spin> -->



