<!-- <nz-spin [nzSpinning]="spin"> -->
    <div class="table mt-12">
        <div nz-row nzAlign="middle" nzJustify="space-between">
          <nz-col>
            <p class="d-flex p-title">
              {{ title | translate }}
          </p>
          </nz-col>
          
        </div>
  
  </div>   

  <nz-card>
    
    <nz-card >
      <div class="tong-quan">
       
        <div class="tong-quan-tien">
          <p>Tổng lợi nhuận đạt được</p>
          <p>{{totalPrice | number}} VNĐ</p>
        </div>
        
      </div>
    </nz-card>
    <nz-card style="margin-top: 20px;">
      <div class="card-title">Thống kê lợi nhuận theo tháng</div>
      <div id="container-man-month"></div>
    </nz-card>
  </nz-card>
  
  
  
  
  

  
        
<!-- </nz-spin> -->



