<nz-modal
  [(nzVisible)]="show"
  [nzFooter]="null"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzWidth]="width"
  [nzBodyStyle]="{
    padding: '12px 24px'
  }"
  (nzOnCancel)="onHandleCancel()"
>
  <ng-template #modalTitle>
    <div style="font-size: 20px; font-weight: 700; color: #244a64">
      <img
        style="height: 20px; margin-right: 12px"
        src="./../../../../assets/icons/information.svg"
      />

      {{ title | translate }}
    </div>
  </ng-template>
  <ng-template #modalContent>
    <div>
      <p style="color: #42526d" class="mb-12">
        <b> {{ header | translate }}?</b>
      </p>
      <div
        style="
          padding: 12px 10px;
          background-color: #cff1ff33;
          border-left: 4px solid #244a64;
          margin-bottom: 12px;
          border-radius: 4px;
        "
      >
        <div class="d-flex a-items-center">
          <img
            style="width: 18px"
            src="./../../../../assets/icons/warning.svg"
            alt="warning icon"
          />
          <span
            style="
              font-size: 18px;
              font-weight: 700;
              color: #244a64;
              margin-left: 8px;
            "
          >
            {{ warning | translate }}:
          </span>
        </div>
        <p style="color: #42526d" class="m-0">
          <!-- {{ "modal.hintPrefix" | translate }} -->
          <b>{{ content | translate }}</b>
          <!-- {{ "modal.hintSuffix" | translate }}. -->
        </p>
      </div>
      <div nz-row nzAlign="middle" nzJustify="end" nzGutter="24">
        <nz-col>
          <app-button
            [btnTitle]="titleBtnCancel"
            [btnClass]="'w-100 btn-cancel'"
            (btnClick)="onHandleCancel()"
          >
          </app-button>
        </nz-col>
        <nz-col>
          <app-button
            [btnClass]="'w-100'"
            [btnTitle]="titleBtnConfirm"
            (btnClick)="onHandleConfirm()"
          >
          </app-button>
        </nz-col>
      </div>
    </div>
  </ng-template>
</nz-modal>
