<span
  *ngIf="column.sortOrder == ''"
  [nz-tooltip]="'sort.desc' | translate"
  nz-icon
  nzType="swap"
  [nzRotate]="90"
  nzTheme="outline"
  (click)="customSortFunction('DESC')"
  class="icon-position"
>
</span>
<span
  *ngIf="column.sortOrder == 'DESC'"
  nz-icon
  nzType="sort-descending"
  nzTheme="outline"
  (click)="customSortFunction('ASC')"
  class="icon-position"
></span>
<span
  *ngIf="column.sortOrder == 'ASC'"
  nz-icon
  nzType="sort-ascending"
  nzTheme="outline"
  (click)="customSortFunction('DESC')"
  class="icon-position"
></span>
