@import url("../../../../../assets/icons/themify-icons/themify-icons.css");

.banner {
  width: 100%;
}
.banner-img {
  object-fit: contain;
  width: 100%;
}

.product {
  float: left;
  width: 380px;
  height: 550px;
  margin-right: 25px;
  margin-bottom: 50px;
  cursor: pointer;
}

.product img {
  width: 380px;
  height: 500px;
  margin-bottom: 10px;
  object-fit: cover;
}

.product p {
  font-size: 1.1rem;
  color: black;
}

/* .page {
  display: flex;
  justify-content: center;
} */

* {
  margin: 0;
  padding: 0;
}

.content-product {
  float: left;
  width: 380px;
  height: 600px;
  margin-right: 25px;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
}

.content-product .product-infor {
  display: flex;
  flex-direction: row;
}

.product-infor > p {
  width: 360px;
}

.content-product .product-infor i {
  font-size: 20px;
  margin-top: 10px;
}

.shopping-cart {
  position: absolute;
  font-size: 20px;
  top: 440px;
  left: 330px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.shopping-cart-none {
  display: none;
}

.shopping-cart-flex {
  display: flex;
}

.new {
  position: absolute;
  display: flex;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px #bcbec0 solid;
}

.new > p {
  font-size: 10px;
  font-weight: bold;
}

.price {
  margin-top: 10px;
}

.carousel-wrapp {
  height: 800px;
  width: 850px;
}

.img {
  height: 800px;
  width: 850px;
  object-fit: cover;
}

/* .carousel-wrapp {
  padding: 0 36px 36px 36px;
} */

/* .wrapper {
  width: 100%;
  position: relative;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  gap: 16px;
  overflow: hidden;
  padding: 0;
  transition: transform 0.5s ease;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .card {
  list-style: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  flex: 0 0 auto;
  transition: transform 0.5s ease;
} */

.list-product {
  margin-top: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.list-product-last {
  margin-top: 65px;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
  justify-content: space-between;
}

/* .list-banner {
  flex: 1.5;
} */

.list-product__product {
  margin-left: 30px;

}

.list-product__label-wrap {
  margin-bottom: 35px;
  border-left: 3px solid blue;
}

.list-product__label {
  font-size: 23px;
  font-weight: 600;
  margin-left: 30px;
}

.list-product__button-wrap {
  display: flex;
  justify-content: center;
}

.list-product__button {
  background: black;
  color: white;
  border-radius: 30px;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
}


[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
    width: 100%;
  }

  .carousel-wrapp {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .wrapper {
    width: 100%;
    position: relative;
  }
  
  .wrapper .carousel {
    /* display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 1) - 12px);
    gap: 16px; */
    display: flex;
    overflow: hidden;
    padding: 0;
    transition: transform 0.5s ease;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel .card {
    list-style: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    flex: 0 0 auto;
    transition: transform 0.5s ease;
  }
  

  .wrapper span {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2 linear;
    z-index: 10;
  }
  
  .wrapper span:hover {
    background-color: white;
    color: black;
  }
  
  .wrapper span:first-child {
    left: 0;
  }
  
  .wrapper span:last-child {
    right: 0;
  }
  
  .carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel .card {
    list-style: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    flex: 0 0 auto;
    transition: transform 0.5s ease;
  }
  .carousel .card-product {
    list-style: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    flex: 0 0 auto;
    transition: transform 0.5s ease;
  }
  
  .img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
  