<div class="container">
  <div class="banner">
    <img [src]="urlPreview + '/' + datatInformation.files[0].savedFileName" alt="" class="banner-img" />
  </div>

  <div class="list-product">
    <div class="carousel-wrapp" #carouselWrapperLast>
      <div class="wrapper">

        <ul class="carousel" #carouselProduct>
          <li class="card-product" *ngFor="let item of datatInformation.files">
            <div class="img">
              <img [src]="urlPreview + '/' + item.savedFileName" alt="img" class="img-last" />
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="list-product__product">
      <div class="list-product__label-wrap">
        <p class="list-product__label" style="text-transform: uppercase;">{{this.datatInformation.name}}</p>
      </div>
      <div class="carousel-wrapp">
        <div class="wrapper">
          <span nz-icon nzType="left" nzTheme="outline" (click)="scrollProduct('left')"></span>
          <ul class="carousel" #carousel>
            <li class="content-product product card" *ngFor="let product of datatInformation.products; index as i"
              (click)="handleProductDetail(product)">
              <div>
                <img [src]="urlPreview + '/' + product.avatar" alt="" />
                <div class="product-infor">
                  <p>{{ product.productName }}</p>
                  <!-- <i class="ti-heart"></i> -->
                </div>
                <p class="price">{{ product.price | number}}</p>
                <!-- <div [class]="cartProductClass[i]">
                                    <i class="ti-bag"></i>
                                </div> -->
                <div class="new">
                  <p>NEW</p>
                </div>
              </div>
            </li>
          </ul>
          <span nz-icon nzType="right" nzTheme="outline" (click)="scrollProduct('right')"></span>
        </div>
      </div>
      <!-- <div class="list-product__button-wrap">
          <button nz-button nzType="text" class="list-product__button">
            Xem tất cả sản phẩm
          </button>
        </div> -->
    </div>
  </div>

  <!-- <div class="banner">
      <img
        src="https://aristino.com/Data/upload/images/BANNER/BST-2024/1920x900.png"
        alt=""
        class="banner-img"
      />
    </div>
  
    <div class="list-product-last">
      <div class="list-product__product-last">
        <div class="list-product__label-wrap">
          <p class="list-product__label">GIAO ĐIỂM SUMMER COLLECTION 2024</p>
        </div>
        <div class="carousel-wrapp">
          <div class="wrapper">
            <ul
              class="carousel"
              #carousel
              (mousedown)="startDragging($event)"
              (mouseup)="stopDragging($event)"
              (mouseleave)="stopDragging($event)"
              (mousemove)="onDrag($event)"
            >
              <li
                (mouseenter)="shoppingCartHover($event, i)"
                (mouseleave)="shoppingCartHover($event, -1)"
                class="content-product product card"
                *ngFor="let product of listProduct; index as i"
                (click)="handleProductDetail(product)"
              >
                <div>
                  <img [src]="urlPreview + '/' + product.avatar" alt="" />
                  <div class="product-infor">
                    <p>{{ product.productName }}</p>
                    <i class="ti-heart"></i>
                  </div>
                  <p class="price">{{ product.price }}</p>
                  <div [class]="cartProductClass[i]">
                    <i class="ti-bag"></i>
                  </div>
                  <div class="new">
                    <p>NEW</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="list-product__button-wrap">
          <button nz-button nzType="text" class="list-product__button">
            Xem tất cả sản phẩm
          </button>
        </div>
      </div>
  
      <div class="list-banner-last">
        <img
          src="https://aristino.com/Data/ResizeImage/images/banner/bst-2024/960x850-1x0x0x2.png"
          alt=""
          class="list-banner__img"
        />
      </div>
    </div> -->
</div>