/* :host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  position: relative;
}

.menu-sidebar {
  position: relative;
  z-index: 100;
  min-height: 100vh;
  box-shadow: 2px 0 3px rgba(0, 21, 41, 0.058);
  position: fixed;
  overflow: auto;
  height: 100%;
  left: 0;
}

nz-header {
  position: fixed;
}

.ant-menu.ant-menu-dark {
  color: black;
}

.ant-menu-item-selected {
  background-color: #244A64;
}

.header-trigger {
  color: #667085;
  height: 50px;
  padding: 16px 16px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 50px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  line-height: 50px;
  transition: all .3s;
  z-index: 99;
}

.sidebar-logo img {
  display: inline-block;
  width: 48px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100vw;
  z-index: 999;
  height: 50px;
}

.header-collapse {
  padding-left: 80px;
}

.header-uncollapse {
  padding-left: 256px;

}

.app-header {
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  width: 100%;
}

nz-content {
  margin: 24px;
}

.content-collapse {
  margin-left: 80px;
}

.content-uncollapse {
  margin-left: 256px;
}

.sidebar-collapse {
  width: 80px;
}

.sidebar-uncollapse {
  width: 256px;
}

.inner-content {
  height: fit-content;
  margin-top: 50px;
}

[nz-icon]:hover {
  cursor: pointer;
}

.c-pointer:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  margin-right: 24px;
  width: 100%;
  background-clip: content-box;
  z-index: 10;
}

.container-footer {
  margin: 0 auto;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  background-color: #fff;
  font-size: 14px;
  color: #666;
  margin: 0;
}

.footer-collapse {
  padding-left: 80px;
}

.footer-uncollapse {
  padding-left: 256px;
}

.language-change {
  margin: 0;
  margin-bottom: 12px;
}

.language-change:last-child {
  margin: 0;
}


.collapsed-logout {
  position: fixed;
  bottom: 0;
  width: 295px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 14px;
  margin-top: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 24px;

  background-color: #fff;
  z-index: 999;
}

.notCollapsed-logout {
  position: fixed;
  bottom: 0;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 24px;
  background-color: #fff;
  z-index: 999;
}

.i-notification {
  font-size: 18px;
} */
