<div class="d-flex j-right">
  <img
    style="cursor: pointer; height: 32px; width: 32px"
    src="./../../../../assets/icons/hide-column.svg"
    alt="Ẩn/Hiện cột"
    nz-popover
    [(nzPopoverVisible)]="visible"
    (nzPopoverVisibleChange)="change($event)"
    [nzPopoverPlacement]="'left'"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
  />
  <ng-template #contentTemplate>
    <div [ngStyle]="{ width: '150px' }">
      <label
        style="margin-bottom: 2px"
        nz-checkbox
        [(ngModel)]="allChecked"
        (ngModelChange)="updateAllChecked()"
        [nzIndeterminate]="indeterminate"
      >
        {{ "all" | translate }}
      </label>
      <br />
      <ng-container *ngFor="let column of listItem; let i = index">
        <label
          style="margin-bottom: 2px"
          [(ngModel)]="column.visible"
          nz-checkbox
          (ngModelChange)="onClickCheckBox()"
        >
          <span
            [ngStyle]="{ width: '118px' }"
            nzEllipsis
            nz-typography
            [nz-tooltip]="column.title | translate"
          >
            {{ column.title | translate }}
          </span>
        </label>
        <br />
      </ng-container>
    </div>
  </ng-template>
</div>
