<!-- <div
  *ngIf="allowUpload"
  class="create-area-drag"
  (drop)="onFileDrop($event)"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave($event)"
  (dragover)="onDragOver($event)"
  [ngClass]="{ 'drag-over': isDragOver }"
  (click)="fileInput.click()"
  style="display: flex; align-items: center; flex-direction: column; cursor: pointer; margin-bottom: 6px"
>
  <input
    type="file"
    (change)="onFileChange($event)"
    style="display: none"
    #fileInput
    [multiple]="maxFiles > 1 ? true : false"
  />
  <div>
    <span
      nz-icon
      nzType="upload"
      nzTheme="outline"
      style="font-size: 32px; color: #244a64; margin-bottom: 16px"
    ></span>
  </div>
  <div
    class="d-flex a-items-center"
    style="margin-bottom: 8px"
  >
    <span style="margin-left: 8px"
      >{{ "message.hint_upload" | translate }}
      <span *ngIf="maxFiles > 1">
        {{ "message.hint_type_total_file" | translate }}</span
      >
    </span>
  </div>
  <div>
    <span
      style="
        color: #6b788e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
      "
    >
      {{ "message.hint_type_upload" | translate }} {{ maxFileSizeMB }} MB
    </span>
  </div>
</div> -->
<div
  *ngIf="allowUpload"
  (drop)="onFileDrop($event)"
  (dragenter)="onDragEnter($event)"
  class="create-area-drag"
  (dragleave)="onDragLeave($event)"
  (dragover)="onDragOver($event)"
  [ngClass]="{ 'drag-over': isDragOver }"
  (click)="fileInput.click()"
  style="cursor: pointer; margin-bottom: 6px"
>
  <input
    type="file"
    (change)="onFileChange($event)"
    style="display: none"
    #fileInput
    [multiple]="maxFiles > 1 ? true : false"
  />
  <div>
    <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
    {{ "attachFile" | translate }}
  </div>
</div>
<div [ngClass]="{ 'scroll-container': filesFromBE.length + files.length > 6 }">
  <ng-container *ngIf="filesFromBE.length > 0">
    <div *ngFor="let file of filesFromBE; let i = index">
      <div
        class="d-flex j-content-between"
        style="
          padding: 4px 16px;
          background: #eff1f4;
          margin-bottom: 6px;
          border-radius: 4px;
        "
        *ngIf="file.id"
      >
        <span>
          <span
            style="position: relative; cursor: pointer"
            (click)="previewFile(file)"
            nz-tooltip="{{ file.fileName }}"
          >
            {{ getFileDisplayName(file.fileName, 30) }}
          </span>
          <span style="color: #bdbdbd; font-size: 8px; margin-left: 4px">
            <!-- position: absolute; -->
            {{
              file.size / 1024 <= 999
                ? (file.size / 1024 | number : "0.0-0")
                : (file.size / 1024 / 1024 | number : "0.1-1")
            }}
            {{ file.size / 1024 <= 999 ? "KB" : "MB" }}
          </span>
        </span>
        <span>
          <span class="mr-12" style="color: #bdbdbd">
            {{ "message.createdAt" | translate }}:
            {{
              file.createdAt
                ? (file.createdAt | date : "dd/MM/yyyy HH:mm:ss")
                : ""
            }}
          </span>
          <div nzRight style="float: right">
            <span
              nz-icon
              nzType="download"
              nzTheme="outline"
              style="cursor: pointer; margin-right: 8px"
              (click)="downloadFile(file)"
            ></span>
            <span
              *ngIf="allowUpload"
              style="cursor: pointer"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              (click)="deleteFile(file)"
            ></span>
          </div>
        </span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="files.length > 0">
    <div *ngFor="let file of files; let i = index">
      <div
        class="d-flex j-content-between"
        style="
          padding: 4px 16px;
          background: #eff1f4;
          margin-bottom: 6px;
          border-radius: 4px;
        "
      >
        <span>
          <span
            style="position: relative; cursor: pointer"
            (click)="previewFile(file)"
            nz-tooltip="{{ file.name }}"
          >
            {{ getFileDisplayName(file.name, 67) }}
          </span>
          <span style="color: #bdbdbd; font-size: 8px; margin-left: 4px">
            <!-- position: absolute; -->
            {{
              file.size / 1024 <= 999
                ? (file.size / 1024 | number : "0.0-0")
                : (file.size / 1024 / 1024 | number : "0.1-1")
            }}
            {{ file.size / 1024 <= 999 ? "KB" : "MB" }}
          </span>
        </span>
        <span>
          <span
            style="cursor: pointer"
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="deleteFile(file)"
          ></span>
        </span>
      </div>
    </div>
  </ng-container>
</div>

<!-- PREVIEW -->
<div style="width: 70%; display: flex; justify-content: center">
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    [nzBodyStyle]="{
      padding: 0,
      height: '100%'
    }"
    [nzWidth]="width"
    nzPlacement="top"
    [nzTitle]="currentFileName"
    [nzExtra]="extra"
    (nzOnClose)="close()"
    nzHeight="100%"
  >
    <ng-container *nzDrawerContent>
      <div
        *ngIf="visible"
        class="drawer-body"
        nz-resizable
        nzBounds="window"
        [nzMinWidth]="256"
        (nzResize)="onResize($event)"
      >
        <nz-resize-handles [nzDirections]="['right']"></nz-resize-handles>
        <iframe
          *ngIf="
            fileType !== 'jpg' && fileType !== 'jpeg' && fileType !== 'png';
            else notPdf
          "
          [src]="currentFilePath"
          width="100%"
          height="100%"
        ></iframe>
        <ng-template #notPdf>
          <iframe
            [srcdoc]="iframeContentImage"
            width="100%"
            height="100%"
          ></iframe>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #extra>
      <app-button
        [btnIconType]="'close'"
        [btnType]="'text'"
        (btnClick)="close()"
      >
      </app-button>
    </ng-template>
  </nz-drawer>
</div>

<app-modal-delete
  [isShowModal]="isShowDeleteWarning"
  [titleModal]="titleDeleteWarning"
  [contentModal]="contentDeleteWarning"
  (isCancelDelete)="onHandleCancelDelete($event)"
  (isConfirmDelete)="onHandleConfirmDelete($event)"
></app-modal-delete>
