/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/resizable/style/index.min.css";

body {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 12px;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-right {
  justify-content: right;
}

.a-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.m-4 {
  margin: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.m-12 {
  margin: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.m-24 {
  margin: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.striped-tr tr:nth-child(odd) td {
  background-color: #f5f5f5;
}

.p-title {
  margin: 0;
  font-size: 18px !important;
  font-weight: 600;
  line-height: 22px;
  color: #42526d;
}

.p-label {
  font-weight: 500;
  color: #42526d;
}

.p-total {
  font-size: 12px !important;
  font-weight: 600;
  line-height: 12px;
  text-align: center;
  border-radius: 12px;
  padding: 4px 16px;
  background-color: #b9ffb1;
  color: #027a48;
}

.p-status {
  margin: 0;
}

.search-click {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  cursor: pointer;
}

.search-click:hover {
  color: rgba(0, 0, 0, 0.45);
}

/* .striped tr:nth-child(odd) td {
  background-color: #f5f5f5;
} */

.isDraft td {
  background-color: #d9d9d9;
}

.text-draft {
  color: #8c8c8c;
  cursor: pointer
}

.isPending td {
  background-color: #fff566;
}

.text-pending {
  color: #fadb14;
  cursor: pointer
}

.isApproved td {
  background-color: #95de64;
}

.text-approved {
  color: #52c41a;
  cursor: pointer
}

.isRejected td {
  background-color: #ff7875;
}

.text-rejected {
  color: #f5222d;
  cursor: pointer
}

.isCanceled td {
  background-color: #ff9c6e;
}

.text-canceled {
  color: #fa541c;
  cursor: pointer
}

/* BUTTON */
.btn-cancel {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #244a64;
}

.btn-cancel:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #244a64;
}

.btn-approved {
  background-color: #52c41a;
  border-color: #52c41a;
  color: #ffffff;
}

.btn-approved:hover {
  background-color: #73d13d;
  border-color: #73d13d;
  color: #244a64;
}

.btn-approved:focus {
  background-color: #73d13d;
  border-color: #73d13d;
  color: #244a64;
}

.btn-rejected {
  background-color: #f5222d;
  border-color: #f5222d;
  color: #ffffff;
}

.btn-rejected:hover {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: #244a64;
}

.btn-rejected:focus {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: #244a64;
}


/* MÀU TRẠNG THÁI */
.status-gray {
  background-color: #f0f0f0;
  border-radius: 16px;
  color: #595959;
  position: relative;
  font-weight: 600;
}

.status-gray::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #595959;
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-text-gray {
  color: #595959;
}

.status-yellow {
  background-color: #fff566;
  border-radius: 16px;
  color: #ad8b00;
  position: relative;
  font-weight: 600;
}

.status-yellow::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ad8b00;
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-text-yellow {
  color: #ad8b00;
}

.status-green {
  background-color: #95de64;
  border-radius: 16px;
  color: #237804;
  position: relative;
  font-weight: 600;
}

.status-green::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #237804;
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-text-green {
  color: #237804;
}

.status-red {
  background-color: #ff7875;
  border-radius: 16px;
  color: #a8071a;
  position: relative;
  font-weight: 600;
}

.status-red::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #a8071a;
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-text-red {
  color: #a8071a;
}

.status-volcano {
  background-color: #ff9c6e;
  border-radius: 16px;
  color: #ad2102;
  position: relative;
  font-weight: 600;
}

.status-volcano::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ad2102;
  margin-left: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-text-volcano {
  color: #ad2102;
}

.error {
  color: red;
}
