* {
  font-size: 12px;
}


.sub-menu__text {
  position: relative;
  margin-left: 24px;
}

.sub-menu__text::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #244A64;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.ant-menu-item-selected nz-badge a {
  color: #fff
}
