.header {
  border-bottom: 1px solid #e4e4e4;
}
.header-first {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
}

.header-arrow {
  float: left;
  margin-left: 30px;
}

.header-arrow span {
  font-size: 30px;
  cursor: pointer;
}

.header-last {
  width: 100%;
  height: 114px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-last__card,
.header-last__pay,
.header-last__final {
  flex: 0.15;
}

.card-icon,
.card-content__wrap,
.pay-icon__wrap,
.pay-content__wrap,
.final-icon__wrap,
.final-content__wrap {
  display: flex;
  justify-content: center;
}


.card-icon span,
.final-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 1px solid #c1c1c1;
  color: #c1c1c1;
}

.pay-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 1px solid black;
}

.card-content,
.final-content {
  font-size: 16px;
}

.pay-content {
  font-size: 16px;
  font-weight: 500;
}

.header-last__pay {
  border-bottom: 3px solid black;
}

/* Content */

.content {
  padding: 50px 185px 0 185px;
  display: flex;
  justify-content: center;
}

.span-error {
  color: red;
}

.form-content__wrap {
  flex: 1.5;
  margin-right: 90px;
}

.title-information,
.form-title {
  font-size: 20px;
  font-weight: 600;
  color: #231f20;
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.form-title__wrap,
.form-information__title {
  border-left: 4px solid blue;
}

.p-label {
  margin-top: 13px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 15px;
}

.form-information__line {
  flex: 1;
}

.form-information__product {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
}

.image-product {
  width: 120px;
  object-fit: cover;
  margin-right: 10px;
  height: 160px;
}

.form-information__product-name,
.form-information__product-price {
  color: #231f20;
  font-size: 16px;
}

.form-information__product-num {
  display: flex;
  align-items: center;
}

.form-information__product-size,
.form-information__product-quantity {
  font-size: 16px;
  color: #696969;
  margin-right: 13px;
}

.form-information__product-size-num {
  color: #231f20;
}

.form-infomation__product-voucher {
  display: flex;
  margin-top: 20px;
}

.form-infomation__product-voucher input {
  border-radius: 30px 0 0 30px;
  flex: 1.5;
}

.form-infomation__product-voucher button {
  flex: 1;
  background: black;
  color: white;
  border-radius: 0 30px 30px 0;
}

.form-infomation__product-price {
  margin-top: 30px;
}

.form-infomation__product-expected {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  margin-top: 18px;
}

.form-infomation__expected-title {
  color: #231f20;
  font-size: 18px;
}

.form-infomation__expected-price {
  color: #231f20;
  font-size: 18px;
  font-weight: 700;
}

.form-infomation__pay {
  margin: 30px 0 30px 0;
}

.form-infomation__pay button {
  width: 100%;
  background: black;
  color: white;
  border-radius: 30px;
  height: 45px;
  font-size: 16px;
}

.list-product {
  overflow-y: scroll;
  height: 170px;
}

.list-product::-webkit-scrollbar {
  width: 20px; /* Độ rộng của thanh cuộn */
  
}

.form-information__product-num p {
  font-size: 13px;
}

.form-information__product-des {
  font-size: 13px;
}


.radio-value {
  font-size: 17px;
}